@font-face {
  font-family: 'icomoon';
  src:  url('../Fonts/Font-Icon/Icomoon.eot?gug0e7');
  src:  url('../Fonts/Font-Icon/Icomoon.eot?gug0e7#iefix') format('embedded-opentype'),
    url('../Fonts/Font-Icon/Icomoon.ttf?gug0e7') format('truetype'),
    url('../Fonts/Font-Icon/Icomoon.woff?gug0e7') format('woff'),
    url('../Fonts/Font-Icon/Icomoon.svg?gug0e7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-down:before {
  content: "\e907";
}
.icon-left:before {
  content: "\e908";
}
.icon-right:before {
  content: "\e909";
}
.icon-up:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
